src/main/resources/schemas/nhinc/common/Subscription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="urn:gov:hhs:fha:nhinc:common:subscription"
            xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"
            xmlns:addr="http://www.w3.org/2005/08/addressing"
            xmlns:ihe="urn:ihe:iti:xds-b:2007"
            xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2"
            xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon"
            targetNamespace="urn:gov:hhs:fha:nhinc:common:subscription"
            elementFormDefault="qualified">

    <xsd:import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="../../docs.oasis-open.org/wsn/b-2.xsd"/>
    <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="../../ebRS/rim.xsd"/>
    <xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="../../ihe/XDS.b_DocumentRepository.xsd"/>
    <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" schemaLocation="../common/NhincCommon.xsd"/>
    <xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="../../www.w3.org/2005/08/addressing/ws-addr.xsd"/>

    <xsd:complexType name="CommunityType">
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:string"/>
            <xsd:element name="Name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Community" type="tns:CommunityType"/>

    <xsd:complexType name="SubscriberType">
        <xsd:sequence>
            <xsd:element name="Community" type="tns:CommunityType"/>
            <xsd:element name="NotificationConsumerEndpointAddress" type="xsd:string"/>
            <xsd:element name="UserAddress" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Subscriber" type="tns:SubscriberType"/>

    <xsd:complexType name="SubscribeeType">
        <xsd:sequence>
            <xsd:element name="Community" type="tns:CommunityType"/>
            <xsd:element name="NotificationProducerEndpointAddress" type="xsd:string"/>
            <xsd:element name="UserAddress" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Subscribee" type="tns:SubscribeeType"/>

    <xsd:complexType name="SubscriptionCriteriaType">
        <xsd:sequence>
            <xsd:element name="SubscribeePatient" type="nccommon:QualifiedSubjectIdentifierType"/>
            <xsd:element name="SubscriberPatient" type="nccommon:QualifiedSubjectIdentifierType"/>
            <xsd:element name="Criteria" type="tns:CriteriaType" minOccurs="0"/>
            <xsd:element name="TopicExpression" type="tns:TopicExpressionType" minOccurs="0"/>
            <xsd:element name="SubscriptionPolicy" type="tns:SubscriptionPolicyType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionCriteria" type="tns:SubscriptionCriteriaType"/>

    <xsd:complexType name="SubscriptionReferenceType">
        <xsd:sequence>
            <xsd:element name="SubscriptionManagerEndpointAddress" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ReferenceParameters" type="tns:ReferenceParametersType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>

    <xsd:complexType name="SubscriptionItemType">
        <xsd:sequence>
            <xsd:element name="Subscriber" type="tns:SubscriberType" minOccurs="0"/>
            <xsd:element name="Subscribee" type="tns:SubscribeeType" minOccurs="0"/>
            <xsd:element name="SubscriptionCriteria" type="tns:SubscriptionCriteriaType" minOccurs="0"/>
            <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType" minOccurs="0"/>
            <xsd:element name="ParentSubscriptionReference" type="tns:SubscriptionReferenceType" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionItem" type="tns:SubscriptionItemType"/>

    <xsd:complexType name="SubscriptionItemsType">
        <xsd:sequence>
            <xsd:element name="subscriptionItem" type="tns:SubscriptionItemType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionItems" type="tns:SubscriptionItemsType"/>

    <xsd:complexType name="CriterionType">
        <xsd:sequence>
            <xsd:element name="Key" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Criterion" type="tns:CriterionType"/>

    <xsd:complexType name="CriteriaType">
        <xsd:sequence>
            <xsd:element name="Criterion" type="tns:CriterionType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Criteria" type="tns:CriteriaType"/>

    <xsd:complexType name="ReferenceParameterType">
        <xsd:sequence>
            <xsd:element name="Prefix" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Namespace" type="xsd:string"/>
            <xsd:element name="ElementName" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ReferenceParameter" type="tns:ReferenceParameterType"/>

    <xsd:complexType name="ReferenceParametersType">
        <xsd:sequence>
            <xsd:element name="ReferenceParameter" type="tns:ReferenceParameterType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ReferenceParameters" type="tns:ReferenceParametersType"/>

    <xsd:complexType name="SubscriptionReferencesType">
        <xsd:sequence>
            <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionReferences" type="tns:SubscriptionReferencesType"/>

    <xsd:complexType name="SubscribeDocumentRequestType">
        <xsd:sequence>
            <xsd:element name="Assertion" type="nccommon:AssertionType"/>
            <xsd:element name="Subscribe" type="tns:SubscribeDocumentType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscribeDocumentRequest" type="tns:SubscribeDocumentRequestType"/>

    <xsd:complexType name="UnsubscribeType">
        <xsd:sequence>
            <xsd:element name="subscriptionReference" type="tns:SubscriptionReferenceType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Unsubscribe" type="tns:UnsubscribeType"/>

    <xsd:complexType name="EmptyType">
        <xsd:sequence>
            <xsd:element name="notUsed" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Empty" type="tns:EmptyType"/>

    <xsd:complexType name="AckInputType">
        <xsd:sequence>
            <xsd:element name="notUsed" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="AckInput" type="tns:AckInputType"/>

    <xsd:complexType name="DeleteSubscriptionMessageRequestType">
        <xsd:sequence>
            <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeleteSubscriptionMessageRequest" type="tns:DeleteSubscriptionMessageRequestType"/>

    <xsd:complexType name="RetrieveBySubscriptionReferenceRequestMessageType">
        <xsd:sequence>
            <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RetrieveBySubscriptionReferenceRequestMessage" type="tns:RetrieveBySubscriptionReferenceRequestMessageType"/>

    <xsd:complexType name="RetrieveByParentSubscriptionReferenceMessageType">
        <xsd:sequence>
            <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RetrieveByParentSubscriptionReferenceMessage" type="tns:RetrieveByParentSubscriptionReferenceMessageType"/>

    <xsd:complexType name="UpdateCppRequestType">
        <xsd:sequence>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="RetrieveDocumentSetRequest" type="ihe:RetrieveDocumentSetRequestType"/>
            <xsd:element name="ExtrinsicObject" type="rim:ExtrinsicObjectType"/>
            <xsd:element name="optInOutFlag" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UpdateCppRequest" type="tns:UpdateCppRequestType"/>

    <xsd:complexType name="UpdateCppResponseType">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UpdateCppResponse" type="tns:UpdateCppResponseType"/>

    <xsd:complexType name="InternalNhieUnsubscribeType">
        <xsd:sequence>
            <xsd:element ref="tns:SubscriptionReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="InternalNhieUnsubscribe" type="tns:InternalNhieUnsubscribeType"/>

    <xsd:complexType name="InternalNhieUnsubscribeResponseType">
        <xsd:sequence>
            <xsd:element name="notUsed" type="xsd:string">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="InternalNhieUnsubscribeResponse" type="tns:InternalNhieUnsubscribeResponseType"/>

    <xsd:complexType name="NotifyWrapperType">
        <xsd:sequence>
            <xsd:element name="Assertion" type="nccommon:AssertionType"/>
            <xsd:element ref="wsnt:Notify"/>
            <xsd:element name="TargetHomeCommunity" type="nccommon:HomeCommunityType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NotifyWrapper" type="tns:NotifyWrapperType"/>

    <xsd:complexType name="TopicExpressionType">
        <xsd:simpleContent>
            <xsd:extension base="tns:TopicExpressionValue">
                <xsd:attribute name="Dialect" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="text"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TopicExpression" type="tns:TopicExpressionType"/>

    <xsd:simpleType name="TopicExpressionValue">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="SubscriptionPolicyType">
        <xsd:sequence>
            <xsd:element name="GenericPolicyItems" type="tns:KeyValuePairListType" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionPolicy" type="tns:SubscriptionPolicyType"/>

    <xsd:complexType name="KeyValuePairType">
        <xsd:sequence>
            <xsd:element name="Key" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="KeyValuePair" type="tns:KeyValuePairType"/>

    <xsd:complexType name="KeyValuePairListType">
        <xsd:sequence>
            <xsd:element name="KeyValuePair" type="tns:KeyValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="KeyValuePairList" type="tns:KeyValuePairListType"/>

    <xsd:complexType name="SubscribeDocumentType">
        <xsd:sequence>
            <xsd:element name="ConsumerReference" type="addr:EndpointReferenceType">
            </xsd:element>
            <xsd:element name="AdhocQuery" type="rim:AdhocQueryType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscribeDocument" type="tns:SubscribeDocumentType"/>

    <xsd:complexType name="MessageTypesType">
        <xsd:sequence>
            <xsd:element name="MessageType" type="xsd:string" maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MessageTypes" type="tns:MessageTypesType"/>
</xsd:schema>
